input, select {
    width : 500px;
    height : 80px;
    font-size: 40px;
    border-radius: 20px;
    text-align: center;
    margin: 20px;
}
li {
    list-style-type: none;
}
#button {
    background-color: #A3A6AA;
    color: #ffffff;
}
#button:hover {
    background-color: #C4151C;
}
form, h1 {
   text-align: center;
}
p {
    color: rgb(45, 47, 49);
    text-align: center;
    font-size: 20px;
}
#files {
    width : 250px;
    height : 40px;
    font-size: 20px;
    border-radius: 0px;
}
.errors {
    color: rgb(150, 28, 28);
    text-align: center;
    font-size: 17px;
}
.serveur {
    border: 1px solid black;
    border-radius: 9px;
    background-color: #3c587e;
    color: #ffffff;
}
.login {
    border: 1px solid black;
    border-radius: 9px;
    background-color: #3992db;
    color: #ffffff;
    margin-top: 30px;
    margin-bottom: 10px;
}
.login a {
    font-size: 20px;
    color: #ffffff;
}
.connect {
    color: #3d90d3;
}
a {
    text-decoration: none;
    color: #3c587e;
    padding-left: 5px;
}
.zoneConnect {
    border: 1px solid black;
    border-radius: 9px;
    background-color: #bec0c2;
    margin-bottom: 10px;
    margin-top: 10px;
}